body {
  font-family: sans-serif;
}

html {
  background: linear-gradient(to left, #434343 0%, black 100%);
}

h1 {
  color: #91760d;
}

select {
  padding: 10px;
  border-radius: 4px;
  width: 100%;
  margin: 10px 0;
  background: #113c25;
  color: rgba(255, 255, 255, 0.7);
}

hr {
  border: 0.2px dashed rgba(255, 255, 255, 0.9);
}

footer {
  text-align: center;
  color: white;
}

footer a {
  color: #91760d;
}

.date-content a {
  color: rgba(255, 255, 255, 0.7);
  font-size: 12px;
}

.container {
  background-color: #113c25;
  border-radius: 30px;
  max-width: 600px;
  display: block;
  margin: 60px auto;
  padding: 30px;
}

.locations {
  display: flex;
  justify-content: space-between;
}

.locations h2 {
  margin: 10px 0;
  font-size: 36px;
  color: #91760d;
}

.date {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.7);
  font-size: 18px;
  margin-bottom: 20px;
}
